torch
torchaudio
torchvision
mmcv==1.7.0
diffusers
timm
accelerate
tensorboard
tensorboardX
transformers
sentencepiece
ftfy
beautifulsoup4
opencv-python
bs4
einops
xformers
optimum
peft
pytorch-fid
trl
pillow
tenacity
zstandard
hf_transfer
black
jsonlines
numexpr
openpyxl
openai
pybind11
pytablewriter
rouge-score
sacrebleu
scikit-learn
sqlitedict
pycocoevalcap
pyyaml
sympy
mpmath
Jinja2
evaluate
git+https://github.com/openai/CLIP.git
ml_collections
